<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jane Liang</title>
    <link rel="icon" type="image/x-ion" href="/images/logo-square.jpg">
    <link rel="stylesheet" href="/style.css">
    <script defer src="/index.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar">

        <div class="logo">
          <img class="logo--img"
            src="/images/JL_Logo_blue&orange._91d1d7&e27458 Medium.jpeg"
            alt="logo" />
        </div>

        <ul class="nav__list">
          <li class="nav__item">
            <a href="/" class="nav__link">Home</a>
          </li>

          <li class="nav__item">
            <a href="#services" class="nav__link">My services</a>
          </li>

          <li class="nav__item">
            <a href="#about" class="nav__link">About me</a>
          </li>

          <li class="nav__item">
            <a href="#work" class="nav__link">My work</a>
          </li>

        </ul>

        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>

    <!-- introduction -->
    <section class="intro" id="home">
      <h1 class="section__title section__title--intro">
        Hi, I am <strong>Jane Liang </strong>
      </h1>
      <p class="section__subtitle section__subtitle--intro">
        Aspiring Full-Stack Web Developer
      </p>
      <img
        class="intro__img"
        src="/images/me2.jpeg"
        alt="a picture of Jane smiling"
      />
    </section>

    <!-- my section -->
    <section class="my-services" id="services">
      <h2 class="section__title section__title--services">What I do</h2>
      <div class="services">
        <div class="service">
          <h3>Web Design</h3>
          <p>
            Designing is the essential step to build a fully functional website. 
            When desinging a product, I focus on UX/UI principles to make sure the experience of a client is optimal.
            I use tools like Adobe photoshop to make logos and fix images, and Figma to create wireframes and prototypes.

          </p>
          </div>

          <div class="service">
          <h3>Web Development</h3>
          <p>
            In development phase. I code the user interface with HTML and CSS. I focus on the adaptive and responsive design.
            I use Express js to build single page or multiple page web apps based on Node js.
            In collaboration, I follow Agile methodoloty, and use tools like Git, GitHub, Google Docs, Miro.com, and Discord
            to communicate effectively with partners.
          </p></div>

          <div class="service">
          <h3>Database</h3>
          <p>
            Database is another essential part for a functional web app, it stores all the information of the users, 
            customers, and inventories ect. A good designed database is organized and easy to maintain. 
            I use MySQL Database to connect to the website data, and I love designing a database and writing SQL queries.
          </p>
        </div>

    </div>
    <a href="#work" class="btn">My Work</a>
    </section>
    <!-- about me -->
    <section class="about-me" id="about">
      <h2 class="section__title section__title--about">Who I am</h2>
      <p class="section__subtitle section__subtitle--about">
        Aspiring Full-Stack Web Developer graduating in 2023
      </p>

      <div class="about-me__boby">
        <p>
          I am currently a Full-Stack Web Development student at BCIT (British
          Columbia Institute of Technology). This is a 2 years program, and I am currently in the second year.
          <!-- When it comes to make something practical and beatiful, I always present my full passion into building the products that would make users’ life better.  -->
        </p>

        <p>
          My first exposure to coding was when I took the OAT
          (Office Administrator with Techknowledgy) program at BCIT. In this
          program, I became a certified specialist with Microsoft Office suite.
          More importantly, I learned some basic Front-end programming in HTML
          and CSS. This helped me to discover my inner passion for programming.
        </p>
        <!-- link to idsp project -->
        <p>
          After two years of working in the office environment, I finally made the
          decistion to start my coding career in September of 2021. After one
          year of intense learning and training, I not only learned
          web-development skills, but also learned to be collaborative,
          displined, hard working, and meeting deadlines. By practicing the IDSP
          (interdisciplinary student projects), I applied all I have learned
          in school materials and also gained so much new knowledge from
          building full websites. It taught me that if I believe I can do
          somthing, I can!
        </p>

        <p>
         I am open to join a fun and creative team to apply my coding
        skills.
        </p>
      </div>

      <img
        class="about-me__img"
        src="/images/me-lipstic.jpeg"
        alt="my dressed in suit"
      />
    </section>

    <!-- my work -->

    <section class="my-work" id="work">
      <h2 class="section__title">My Work</h2>
      <p class="section__subtitle">A selection of my range of work</p>

      <div class="allCard">
     <% for (const project of allProjects) {%>
        <div class="card">
        <a class="image-box" href="/project/<%=project.id%>">  
          <img class="project-image" src="<%= project.images[0]%>"> 
          <span class="show-detail">See detail</span>
        </a>
        <a class="project-name" href="<%=project.url%>">  
          <%= project.name%> 
        </a>
        </div>
        <%}%>
      </div>

    </section>

    <footer class="footer">

      <div class="contact-me white-background">
        <ul class="list">
          <li>
            <img class="contact-icon" src="/icons/email.svg" />
            <a href="mailto:janeliangbc@gmail.com" class="contact email-link">janeliangbc@gmail.com</a>
          </li>

          <li>
            <img class="contact-icon" src="/icons/phone.svg" />
            <p class="contact phone-number">7787085905</p>
          </li>

          <li>
            <img class="contact-icon" src="/icons/linkedin.svg" />
            <a href="www.linkedin.com/in/janiejane" class="contact linkedin-link">www.linkedin.com/in/janiejane</a>
          </li>

          <li>
            <img class="contact-icon" src="/icons/github.svg" />
            <p class="contact github-name">Cocoandjane</p>
          </li>
        </ul> 
      <img class="footer__img" src="/images/me-footer.jpeg">
      </div>
    </footer>
  </body>
</html>
