<div class="buttons">
    <button class="download download-resume">
        <img class="download-icon" src="/icons/download.svg" alt="downlaod icon"> Download my resume
    </button>

    <button class="download download-portfolio">
        <img class="download-icon" src="/icons/download.svg" alt="downlaod icon"> Download this portfolio as PDF
    </button>
  </div>

  <span class="hover-show">
    <%if(project.url){%>
    <%=project.url%>
    <%}%>
  </span>